<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="navbar">
        <div>
        <a href="/editor">
            <img src="/img/logo.png" width="20" height="20" alt="Logo">
        </a>
        <a href="/">PhoneBook</a>
        </div>
        <nav>
            <ul>
                <li><a href="/editor">Editor</a></li>
                <li><a href="/phonebook">Phonebook</a></li>
            </ul>
        </nav>
    </header>

    {{{ body }}}

<a href="https://www.flaticon.com/free-icons/book" title="book icons">Book icons created by Gregor Cresnar - Flaticon</a>
</body>
</html>

